<link rel="stylesheet" href="../css/estiloHeader.css" MEDIA=screen>
<div">
  <div class="container">
    <div style="width:20%;  float:right;">
      <img src="imagenes/usac logo.png" width="395px" height="395px">
    </div>
    <div class="item" style="width:80%; float:left;">
      <h3> Lenguajes Formales y de Programación</h3>
      <h1>Analizador Lexico II</h1>
      <p></p>
    </div>

  </div>
  <div style="display: block; ">
    <nav>
      <!-- Listado de Navegación -->
      <ul class="menu">
        <li><a href="/Inicio">Info Estudiante</a></li>
        <li><a href="/insertarArchivo">Analizar Archivo</a></li>
      </ul>
    </nav>
  </div>
</div>